*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* smooth scrol */
html {
  scroll-behavior: smooth;
}

/* Animaton */

@keyframes my{
    from{
        transform: translateY(-60px);
        opacity: .3;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    }
@keyframes work{
    from{
        transform: translatex(-60px);
        opacity: .3;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    }

body{
    background-color: rgb(12, 10, 10);
}


/* header start */

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

/* toogle */

.menu-btn{
    display: none;
}
.menu{
    display: none;
}
#toggle{
    display: none;
}



header img{
    height: 100%;
}

header .nav nav{
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
}

header .nav a{
    text-decoration: none;
    color: #eb9b34;
    font-size: 18px;
    scroll-behavior: smooth;
}
.nav nav a:hover{
    color: aliceblue;
}
header button{
    padding: 7px 30px;
    color: aliceblue;
    /* background-image: linear-gradient(to bottom #E46400 #FD6F00); */
    border-radius: 7px;
    margin-top: 20px;

}
header button:hover{
    background-color: #eb9b34;

}

/* hero section */
.hero_section{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero_section .intro{
    width: 40%;
    color: #eb9b34;
    display: flex;
    flex-direction: column;
    gap: 10px;
     margin-bottom: 10%;
     animation-name: my;
    animation-duration: 2s;

}
.hero_section .social{
    width: 30%;
    display: flex;
    justify-content: space-between;
    transition: all;
    
}
.hero_section .social img:hover{
    background-color: #eb9b34;
    border-radius: 50%;
    transition-duration: 1s;
    transform: scale(1.1);
}
.hero_section h1{
    font-size: 55px;
    font-family: "Oswald", sans-serif;
    
}

.hero_section h4{
    color: aliceblue;
}
.hero_section h2{
    color: aliceblue;
}
.btn{
    display: flex;
    gap: 10px;
}
.btn .hire,button{
    padding: 7px 30px;
    color: aliceblue;
    border: 1px solid white;
    background-color: transparent;
    /* background-color: #FD6F00; */
    /* background-image: linear-gradient(to bottom #E46400 #FD6F00); */
    border-radius: 7px;
    margin-top: 20px;

}


.btn button:hover{
    background-color: #eb9b34;
    border: none;
    transition-duration: 1s;

}
.client{
    width: 60%;
    height: 100px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}


.hero_section .items{
    width: 120px;
    height: 80px;
    background-color: rgb(42, 41, 41);
    text-align: center;
    border-left: 1px solid white;
    padding: 20px;
}
.hero_section .none{
    border: none;
}


.piclogo{
    width: 23%;
    height: 60vh;
     background-color: rgb(26, 26, 26);
    border: 1px solid #eb9b34;
    box-shadow: 0 0 10px #eb9b34;
    position: relative;
    border-radius: 47% 47% 5% 0% / 57% 54% 0% 10% ;
    margin-bottom: 10%;
}
.piclogo img{
    width: 80%;
    height: 110%;
    /* margin: auto; */
    position: absolute;
    bottom: 0px;
    left: 30px;
}
.piclogo img:hover{
    transform: translateY(-10px);
    /* box-shadow: 0 0 10px #FA6E00; */
    transition-duration: 1s;

}

/* Servicer */


.service_text{
    text-align: center;
    color: #fafaf9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.service_text h2{
    color: #eb9b34;
}

.services_card{
    width: 80%;
    height: 65vh;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    animation-name: work;
    animation-duration: 2s;
}

.services_card .cards{
    /* width: 28%; */
    height: 200px;
    /* border: 1px solid white; */
    color: #fafaf9;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(37, 37, 37);
    transition: all;
    
}
.services_card img{
    width: 58px;
    height: 58px;
}

.services_card .cards h3{
 color: #eb9b34;
 margin: 10px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.services_card .cards:hover{
    transform: translateY(-10px);
    transition-duration: 1s;
    box-shadow: 0 0 10px #eb9b34;
}


/* hero senction end */


.about_me{
    width: 80%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;

}
.about_me h1{
    color: #eb9b34;
}
.about_me .about_text{
    text-align: center;
    color: #fafaf9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about_img{
      display: flex;
      /* width: 40%; */
      justify-content: space-around;

}

.about_img .imgs{
    width: 27%;
    height: 50vh;
     background-color: rgb(26, 26, 26);
    border: 1px solid #eb9b34;
    box-shadow: 0 0 10px #eb9b34;
    position: relative;
    border-radius:40%;

}

.about_img img{
    width: 80%;
    height: 110%;
    /* margin: auto; */
    position: absolute;
    bottom: 0px;
    left: 30px;
    margin-top: 80px;
    border-radius: 30%;
      
}

.about_me-text{
    width: 40%;
    color: #646463;
}
.about_me-text:hover{
    transition-duration: 1s;
    color: #Ffff;
}

.about_img button{
     padding: 7px 40px;
    color: aliceblue;
    /* border: 1px solid white; */
    background-color: transparent;
    background-color: #eb9b34;
    /* background-image: linear-gradient(to bottom #E46400 #FD6F00); */
    border-radius: 7px;
    margin-top: 20px;
    display: flex;
}

.about_img a{
    text-decoration: none;
    color: #fafaf9;
}

.about_img img:hover{
    transition-duration: 1s;
    transform: scale(1.04);
    /* box-shadow: 0 0 10px #FA6E00; */
}




/* Circle */

.about_cercle{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    height: fit-content;
    width: 80%;
    gap: 40px;
    margin: auto;
    
}

.about_cercle .circle{
    width: 100px;
    height: 100px;
    /* border: ipx solid white; */
    background-image: url(images/cir.png);
    background-size:cover ;
    text-align: center;
    /* align-self: center; */
    padding: 30px 20px;
    transition: all;
 
}
.main-circle h1{
    color: #eb9b34;
    padding-left:15px ;
    margin-top: 10px;

}
.circle1:hover{
    transition-duration: 1s;
    transform: scale(1.04);
    box-shadow: 0 0 10px #f1f1f0;
}
.about_cercle .circle1{
    width: 100px;
    height: 100px;
    /* border: ipx solid white; */
    background-image: url(images/cir.png);
    background-size:cover ;
    text-align: center;
    /* align-self: center; */
    padding: 30px 20px;
     border-radius: 50%;
}
.circle2:hover{
    transition-duration: 1s;
    transform: scale(1.04);
    box-shadow: 0 0 10px #Ffff;
}
.about_cercle .circle2{
    width: 100px;
    height: 100px;
    /* border: ipx solid white; */
    background-image: url(images/cir.png);
    background-size:cover ;
    text-align: center;
    /* align-self: center; */
    padding: 30px 20px;
    border-radius: 50%;
}
.circle3:hover{
    transition-duration: 1s;
    transform: scale(1.04);
    box-shadow: 0 0 10px #f2f1f1;
}
.about_cercle .circle3{
    width: 100px;
    height: 100px;
    /* border: ipx solid white; */
    background-image: url(images/cir.png);
    background-size:cover ;
    text-align: center;
    /* align-self: center; */
    padding: 30px 20px;
    border-radius: 50%;
}
.about_cercle .circle4{
    width: 100px;
    height: 100px;
    /* border: ipx solid white; */
    background-image: url(images/cir.png);
    background-size:cover ;
    text-align: center;
    /* align-self: center; */
    padding: 30px 20px;
    border-radius: 50%;
    background-color: #3b3b38;
}

.about_cercle .circle4:hover{
    transition-duration: 1s;
    transform: scale(1.04);
    box-shadow: 0 0 10px #f4f0ee;
}
.circle4 img{
    width: 45px;
    height: 45px;
}

/* Project */

.project{
    width: 100%;
    height: 100vh;
    /* margin-top: 70px; */
    padding: 30px;
}

.project-1 h1{
    color: #eb9b34;
    text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.project-1 a{
    text-decoration: none;
    color: white;
    /* display: inline-block; */
}

.project-1 nav{
    display: inline-block;
    padding: 7px 30px;
    background-color: #444444;
    border-radius: 7px;
    
}
.project-1 nav:hover{
    background-color: #eb9b34;
    transition-duration: 1s;
}

.project_nav{
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
      margin: auto;
    margin-top: 40px;
  
    /* margin: auto; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* project cards */

.project-2{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.project-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    row-gap: 60px;
}
.main_card{
    /* width: 2%; */
    height: 30vh;
   
}
/* card 1s */

.card_1 {
    /* width: 100%; */
    height: 100%;
    border: 1px solid white;
    background-image: url(images/p1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card_1::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: url(images/p2.png);
    background-size: cover;
    background-position: center;
    transition: left 1s ease; 
}

.card_1:hover::after {
    left: 0;
}

/* card 2 */
.card_2 {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-image: url(images/c1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card_2::after {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-image: url(images/c2.png);
    background-size: cover;
    background-position: center;
    transition: right 1s ease; 
}

.card_2:hover::after {
    right: 0;
}
/* card 3 */
.card_3 {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-image: url(images/n.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card_3::after {
    content: "";
    position: absolute;
    top: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-image: url(images/n2.png);
    background-size: cover;
    background-position: center;
    transition: top 1s ease; 
}

.card_3:hover::after {
    top: 0;
}

.main_card h3{
    color: #eb9b34;
    text-align: center;
    margin-top: 20px;
}


/* Contact */


.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    gap: 30px;
    align-items: center;
    padding: 40px;
}

.contact_text{
    width: 100%;
    /* border: 1px solid white; */
    color: #f2f1f1;
    text-align: center;
}

.contact_text h1{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin-bottom: 20px;
 color: #eb9b34;
}



/* From Uiverse.io by gharsh11032000 */ 
.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#eb9b34, #eb9b34) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #eb9b34;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #eb9b34;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #eb9b34;
  border-color: #fff;
  color: #f2f1f1;
}

.contact_2{
    width: 55%;
    /* border: 1px solid white; */
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 20px;
}

/* input 1 */

/* From Uiverse.io by Jaareet */ 
.input {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 500;
  font-size: .8vw;
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 10px;
  width: 300px;
  transition: .4s;
}

.input:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.input:focus {
  box-shadow: 0 0 0 .15vw #eb9b34;
}


.contact_2-1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* footer */

footer{
    clear: both;
    width: 100%;
    height: 50vh;
    /* border: 1px solid white; */

}

.footer-1{
    text-align: center;
}
.footer-1 img{
    width: 250px;
    margin: auto;
}
footer .nav{
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #eb9b34;
    font-size: 20px;
}
footer nav{
    display: inline-block;
    padding: 20px;


}

/* footer 2 */

.footer-2{
    margin-top: 30px;
}
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

/* footer 3 */

.footer-3{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
.footer-3 a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #717171;
}

.footer-3 a:hover{
    color: #eb9b34;
}










@media screen and (max-width:600px) {
    .nav{
        display: none;
    }

    /* toogle */
    /* hide checkbox */
#toggle {
    display: none;

}

/* hamburger button */
.menu-btn {
    /* width: 60px; */
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    font-size: 60px;
}




.menu {
    width: 45%;
    height: 250px;
    background-color: rgb(54, 53, 53);
    display: none;
    border-radius: 10px;
    flex-direction: column;
    margin-top: 10px;
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 15px;
    

}
.menu nav{
 padding: 7px 20px;
 /* margin-top: 10px; */
}
.menu nav a{
    text-decoration: none;
    color: #eb9b34;
    /* padding: 10px 20px; */
    font-size: 20px;
    
}
.menu nav:hover{
    background-color: #444444;
    color: white;
    border-radius: 5px;
}



.cross{
    font-size: 30px;
    color: white;
    margin-left: 85%;

}


/* toggle menu */
#toggle:checked + .menu-btn + .menu {
    display: flex;
}

.menu-btn{
    position: absolute;
    top: 4px;
    left: 10px;
}

    .hero_section{
        flex-direction: column;
        height: fit-content;
    }
    .hero_section .intro{
        width: 100%;
        /* text-align: center; */
        padding: 20px;
    }
    .intro .social{
        width: 50%;
    }
    .client{
        width: 100%;
        
    }

    .piclogo{
        width: 85%;
    }

    .services_card{
        height: fit-content;
        grid-template-columns: 1fr;
    }
    .about_me{
        height: fit-content;
    }
    .about_me .about_img{
        flex-direction: column;
        height: fit-content;
    }

    .about_img .imgs{
        width: 90%;
        margin: auto;

    }
    .about_me-text{
        width: 100%;
        /* text-align: center; */
        margin-top: 30px;
    }
    .services_card{
        width: 100%;
        
    }

    .about_cercle{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
    
    
    .project_nav{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }



    .project-card{
    width: 100%;
    grid-template-columns: 1fr;
    }
     .project{
        height: fit-content;
     }
     .contact{
        width: 100%;

        height: fit-content;
     }
     .contact_2-1 input{
        height: 40px;
        font-size: 16px;
     }

    .contact_2{
        flex-direction: column;
    }
    

    .contact_2{
        width: 100%;
    }
    .form-container{
        width: 100%;
    }

    .footer-3{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    
}

